

<div class="container">
    <form action="/" method="GET">
        <select name="cat" class="form-control">
            <option value="all">All</option>
            <option value="clothes"> Clothes</option>
        

        </select>
            <input type="submit" value="Filter" class="btn btn-primary">
    </form>